@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --lightlist-color: #4369B2;
  --darklist-color: #3C5E9E;
  --light-color: #5385DE;
  --dark-color: #35548B;
  --text-color: #fff;
  --black-color: #1D1D1D;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--text-color);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

body {
  background-color: var(--light-color);
}


.container {
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
}

header {
  display: flex;
  justify-content: stretch;
  gap: 1rem;
  aspect-ratio: 2/1;
  padding: 1rem;
}

.header-img {
  width: 50%;
  aspect-ratio: 1/1;
  flex-shrink: 1;
}

.header-content{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-grow: 1;
}

h1 {
  white-space: nowrap;
}

.list-title {
  background-color: var(--dark-color);
  font-size: 16px;
  padding: 0.1rem 0.6rem 0.2rem;
  height: 100%;
}

.home-list {
  display: grid;
  grid-template-columns: auto auto;
}

.home-list > :nth-child(4n),
.home-list > :nth-child(4n+1),
.details-list > :nth-child(odd) {
  background-color: var(--light-color);
}

.home-list > :nth-child(4n+2),
.home-list > :nth-child(4n+3),
.details-list > :nth-child(even) {
  background-color: var(--darklist-color);
}

.cards-type{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.2rem 0.2rem 1rem;
  aspect-ratio: 1/1;
}

.card-details {
  display: flex;
  gap: 1.5rem;
  padding: 2rem 0.6rem;
  align-items: center;
}

.streched-gap{
  flex: 1;
}

.type-title{
  text-align: end;
  padding: 0 0.6rem 0.2rem;
  font-weight: 700;
}

.cards-title{
  flex: 1;
}

.type-count {
  text-align: end;
  padding: 0 0.6rem 0;
}

svg {
  width: 1.5rem;
  color: var(--text-color);
}